version: "3"
services:
  es:
    image: elasticsearch:7.12.0
    volumes:
      - indexdata:/usr/share/elasticsearch/data
    environment:
     discovery.type: single-node

  pipeline:
    build: .
    image: edds
    environment:
      ES_ENDPOINT: "http://es:9200"
    volumes:
      - ./:/app 
    entrypoint: 
      - bash 
      - -c 
      - "while true; do sleep 1000 ; done"
    

volumes:
  indexdata:
